@tailwind base;
*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin: 160px;
}
li{
  list-style: none;
}

h1,p{
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
} 

h1,a,h2,h3{
  font-family: 'Red Hat Display', sans-serif;
}

p{
  font-family: 'Red Hat Text', sans-serif;
}

button{
  font-family: 'Red Hat Display', sans-serif;
}
@tailwind components;
@tailwind utilities;